.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***** NAVBAR *****/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #ffa500;
  --primary-dark: RGB(256, 256, 256, 0);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.react_logo {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0 auto;
}

/***** NAVBAR - MENU LINKS *****/

nav a.nav-link {
  font-weight: 150;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--primary-white) !important;
  border-top: 0.2rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.2rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.2rem solid var(--primary-orange);
}
